@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.bg-image {
  background-image: url("https://img.freepik.com/premium-photo/toy-shopping-trolley-with-colourful-packets_23-2147955541.jpg?w=740");
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: start;
  align-self: center;
  height: 100vh;
  background-size: cover;
  font-family: "Bree serif";
}

.bg-home{
  background-image: url("https://img.freepik.com/premium-photo/photo-round-foggy-color-podium-product-presentation-fog-round-product-podium_873925-860954.jpg?w=360");
  height: 100vh;
  background-size: cover;
  font-family: "Bree serif";
  overflow-y: auto;
}


.welcome_title{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: example 2s linear 0s infinite alternate;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.star-rating {
  display: inline-flex;
  align-items: center;
}

.star-rating .filled-stars,
.star-rating .half-star,
.star-rating .empty-stars {
  color: rgb(173, 173, 76);
  text-shadow: 1px 1px 1px black;
}

.star-rating .ml-2 {
  margin-left: 0.5rem;
}

.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}
